* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body{
  min-height: 100%;
}
.header {
  max-height: 110px;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  position: relative;
}
/*start of nav css*/
nav {
  display: flex;
  padding: auto;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 120px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
.nav-links ul li a {
  color: aliceblue;
  text-decoration: none;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: gold;
  display: block;
  margin: auto;
  transition: 0.3s;
}

/*end of nav css*/
.text-box {
  width: 50%;
  float: right;
  background-color: grey;
  color: black;
  position: absolute;
  top: 200%;
  justify-content: right;
  box-sizing: border-box;
  transform: translate(0,-20%);
}
 .text-box h1 {
  font-size: 50px;
  color: aliceblue;
  size: 50px;
  background-color: grey;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: aliceblue;
  background-color: #c0b2a1;
}
nav .fas {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: rgba(53, 4, 4, 0.829);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.8s;
  }
  nav .fas {
    display: block;
    color: gold;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/*recommended projects*/
.recommendations {
  width: 80%;
  margin:auto;
  /* text-align: center; */
  padding-top: 800px;
}
.prog-col{
  flex-basis: 31%;
  background: grey;
  border-radius: 10px;
  margin-bottom: 5%;
  padding:20px 12px;
  box-sizing: border-box;
}
.prog-col h1{
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}
.prog-col h2{
  color:black;
  font-size: 20px;
  font-weight:bold;
  line-height: 30px;
  padding: 10px;
  text-align: center;

}
.prog-col img{
  width: 100%;
}
.row{
  margin-top: 5%;
  display:flex;
  justify-content: space-between;
  }

/*about section*/
.about {
  width: 90%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 50px;
  background-color: #c0b2a11e;
}
.about-col h1 {
  font-size: 30px;
  font-weight: bold;
  background-color: grey;
  padding-top: 0%;
}
.about-col p {
  color: rgb(46, 38, 27);
  font-size: 25px;
  line-height: 30px;
  padding: 10px 0 20px;
}
.about-col{
  flex-basis: 48%;
  padding: 15px 2px;
}
.about-col img{
  width: 100%;
}
.about-btn{
 text-decoration: none;
 color: white;
 padding: 12px 34px;
 font-size: 16px; 
 background: black;
 position: relative;
 cursor: pointer;
 font-weight: bold;
 float: right;
}
.about-btn:hover{
background: rgb(107, 93, 16);
transition: .3s;
}

/*footer css*/
.footer{
  position: absolute;
   width: 100%;
   text-align: center;
}
.footer p{
  font-weight: lighter;
  font-size: 10px;
}